.DS_Store
generatedsrc
build
docs/doxygen_generated
lib
test/lib
report
dist
deps
privateprops
.project
.classpath
.setting
.settings
.pydevproject
*.pyc
*.swp
*.sw[a-z]
*.un~
Session.vim
manifest.mf
*.*~
