.DS_Store
*/generatedsrc
*/*/generatedsrc
*/build
*/*/build
*/*/*/build
*/*/*/docs
*/*/docs
*/lib
*/test/lib
*/test/report
*/dist
*/deps
*/privateprops
*/.project
*/.classpath
*.pyc
*/.*.swp
.*.sw[a-z]
*.un~
Session.vim
*/manifest.mf
*/*/manifest.mf
*/*/*/manifest.mf
*/*/*/*/manifest.mf
*/*.*~
deps
dist

